.

.DS_Store

WordClock.X/nbproject/private/SuppressibleMessageMemo.properties

*.mk

*.mk

WordClock.X/nbproject/Makefile-local-default.mk

*.properties

WordClock.X/nbproject/Makefile-genesis.properties

WordClock.X/l.obj

WordClock.X/funclist

WordClock.X/build/default/debug/_ext/1472/comm.p1

*.d
