.
.DS_Store
WordClock.X/

.DS_Store

WordClock.X/build/default/production/_ext/1472/settings.p1

*.d

WordClock.X/build/default/production/_ext/1472/settings.p1.d

WordClock.X/build/default/production/_ext/1472/settings.pre

WordClock.X/build/default/production/_ext/1472/WordClock.pre

WordClock.X/nbproject/Makefile-genesis.properties

WordClock.X/nbproject/Makefile-local-default.mk

WordClock.X/nbproject/private/SuppressibleMessageMemo.properties

.DS_Store

WordClock.X/build/default/production/_ext/1472/settings.p1

WordClock.X/build/default/production/_ext/1472/settings.p1.d

WordClock.X/build/default/production/_ext/1472/settings.pre

WordClock.X/build/default/production/_ext/1472/WordClock.pre

WordClock.X/nbproject/Makefile-genesis.properties

WordClock.X/nbproject/Makefile-local-default.mk

WordClock.X/nbproject/private/SuppressibleMessageMemo.properties

WordClock.X/build/default/production/_ext/1472/comm.p1

WordClock.X/build/default/production/_ext/1472/comm.pre

WordClock.X/funclist

WordClock.X/l.obj
